<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andes.andespazapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Learn.Diversity.Exprecion"></activity>
        <activity android:name=".View.Learn.Reconciliation.ReconciliationDevelop" />
        <activity android:name=".View.Learn.Reconciliation.ConflicResolution" />
        <activity android:name=".View.Learn.Reconciliation.SchoolViolentecesTypes" />
        <activity android:name=".View.Learn.Reconciliation.ColombianReconciliation" />
        <activity android:name=".View.Learn.Reconciliation.BullyingSchool" />
        <activity android:name=".View.Learn.Reconciliation.FamilyReconciliation" />
        <activity android:name=".View.Learn.Gender.ViolenceTypes" />
        <activity android:name=".View.Learn.Gender.SchoolWomen" />
        <activity android:name=".View.Learn.Gender.Patriarcado" />
        <activity android:name=".View.Learn.Gender.FeminismTypes" />
        <activity android:name=".View.Learn.Gender.March8" />
        <activity android:name=".View.Learn.Diversity.History" />
        <activity android:name=".View.Learn.Diversity.WhatIs" />
        <activity android:name=".View.Learn.Diversity.SchoolDiversity" />
        <activity android:name=".View.Learn.Women.ActivityWomen" />
        <activity android:name=".View.Learn.Reconciliation.ActivityReconciliation" />
        <activity android:name=".View.Learn.Gender.ActivityGender" />
        <activity android:name=".View.Learn.Diversity.ActivityDiversity" />
        <activity android:name=".View.Learn.Women.MainWomen" />
        <activity android:name=".View.Learn.Reconciliation.MainReconciliation" />
        <activity android:name=".View.Learn.Gender.MainGender" />
        <activity android:name=".View.Learn.Diversity.MainDiversity" />
        <activity android:name=".View.Learn.Peace.ActivityPeace" />
        <activity android:name=".View.Learn.Peace.AcuerdoDePazEnColombia" />
        <activity android:name=".View.Learn.Peace.ViolenciaEnColombia" />
        <activity android:name=".View.Learn.Peace.TiposDeViolencia" />
        <activity android:name=".View.Learn.Peace.MainPeace" />
        <activity android:name=".View.Learn.Memory.Extra" />
        <activity android:name=".View.Learn.Memory.Org_Memory" />
        <activity android:name=".View.Learn.Memory.Why_Memory" />
        <activity android:name=".View.Learn.Memory.TimeLine_MakeMemory" />
        <activity android:name=".View.Learn.Memory.Necesary_Memory" />
        <activity android:name=".View.Learn.Memory.Memory_Colombia" />
        <activity android:name=".View.Learn.Memory.MakeMemory" />
        <activity android:name=".View.Module_Blog.NewBlogItem" />
        <activity android:name=".View.Module_Blog.Detail_Blog" />
        <activity android:name=".View.Login_progress" />
        <activity android:name=".View.Vinculate.Vinculate_Receibe" />
        <activity android:name=".View.Vinculate.Vinculate_Sent" />
        <activity android:name=".View.Complaints.DDHH_Complaints" />
        <activity android:name=".View.Learn.Memory.qz" />
        <activity android:name=".View.Learn.Memory.Receibe_activity" />
        <activity android:name=".View.Learn.Memory.Activity" />
        <activity android:name=".View.Learn.Memory.Learn1" />
        <activity android:name=".View.Learn.Main_Learn" />
        <activity android:name=".View.CRUD.CRUD_Individual_User" />
        <activity android:name=".View.Complaints.Sent_Complaint" />
        <activity android:name=".View.CRUD.ProfileManager" />
        <activity android:name=".View.CRUD.SchoolManager" />
        <activity android:name=".View.CRUD.UserManager" />
        <activity android:name=".View.Module_Blog.Blog_main" />
        <activity android:name=".View.Student.MainStudentMenu" />
        <activity android:name=".View.MainRegisterActivity" />
        <activity android:name=".View.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MainActivity" />
    </application>

</manifest>